/* TAG REDEFINITIONS */

body {
	margin:0px;
	padding:0px;
	font-family: "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Sans-Serif;
	font-size:11px;
	background-image:url(../images/leftCol_slice.gif);
	color:#555555;
	background-repeat: repeat-y;
	list-style-type: square;
}
a {
	color:#346381;
	text-decoration:none;
}
a:hover {
	background-color:#222222;
	color:#ffffff;
	text-decoration:none;
}

form {
	padding:0;
	margin:0;
}

ul { list-style: square; }

.grey { color:#aaaaaa; }

.even { background-color: #ffffff; }
.odd { background-color: #f8f8f8; }

/**************/
/* LAYOUT     */
/**************/

#headerArea {
	height: 75px;
	padding:0px;
	background: #000;
}

#logo {
	padding-left: 17px;
}

#menuArea {
	position:absolute;
	left: 158px;
	top: 49px;
	width: 597px;
	height: 25px;
	line-height: 0;
	letter-spacing: 1px;
	padding: 11px 0 0 0;
}

#menuArea a {
	color: #fff;
	padding: 5px 13px 7px;
	text-decoration: none;
}

#menuArea a.active, #menuArea a:hover {
	color: #000;
	background: #fff;
}

#sideArea {
	width:157px;
}

#singleColumn {
	position:absolute;
	width: 800px;
	left:185px;
	top:100px;
	line-height:18px;
	height: 578px;
}

#caption {
	font-size:10px;
	position:absolute;
	left:774px;
	top:11px;
	color:#BBBBBB;
	width:199px;
	height: 50px;
}

#caption a{ 
	color:#666666;
	text-decoration:none;
	padding:3px;
}

#caption a:hover{ 
	color:#999999;
	text-decoration:none;
	padding:3px;
}


/**************/
/* NAVIGATION */
/**************/

#navcontainer ul
{
	margin: 0;
	margin-top:30px;
	padding: 0;
	list-style-type: none;
	font-size: 11px;	
	border-top: 1px solid #e5e5e5;
}

#navcontainer li { margin: 0 0 0 0; 
	border-bottom: 1px solid #e5e5e5;
}

#navcontainer a
{
	display: block;
	font-weight:normal;	
	color: #555555;
	background-color: #f8f8f8;
	width: 104px;
	padding: 10px 23px;
	text-decoration: none;
	border-right: 6px solid #f1f1f1;		
}

#navcontainer a:hover
{
	background-color: #000000;
	border-right: 6px solid #000000;	
	color: #ffffff;
}
#active a
{
	display: block;
	color: #000000;
	background-color: #efefef;
	width: 104px;
	padding: 10px 23px;
	text-decoration: none;
	font-weight:normal;
	border-right: 6px solid #e9e9e9;	
	
}

#footer {
	font-size:10px;
	color:#aaaaaa;
	border-top: 1px solid #ccc;
	margin: 45px 0 50px;
	padding-bottom: 25px;
}



/**************/
/* STYLING    */
/**************/

.changeset {
	margin: 0 0 15px 0;
	padding: 5px 15px;
	border: 1px solid #ccc;
	background: #F8F8F8;
}

.milestone {
	margin: 0 0 40px 0;
}

.ticket_description { 
	margin: 0 0 15px 0;
	padding: 5px 15px;
	border: 1px solid #ccc;
	background: #F8F8F8;
}

.ticket_information { 
	text-align: right;
	padding: 10px 0;
	border-top: 1px dotted #ccc;
}
.ticket_information p { margin: 0; }

/* Form Styles */
form { margin:0; padding:0; }
fieldset { margin:0 0 20px 0; padding:20px 0; border:1px solid #c5c5c5; }
fieldset legend { margin:0 20px; padding:0 10px; color:#c5c5c5; font-size:150%; }
	fieldset legend strong { color:#555; }
fieldset div { clear:left; margin:6px 4px 8px 4px; }
	fieldset label { float:left; display:block; width:154px; margin:2px 0 12px 26px; padding:0 6px 0 0; text-align:left; }
		fieldset label a { color:#333; text-decoration:none; }
	fieldset input.field,
	fieldset select,
	fieldset textarea { width:570px; margin:0 0 2px 0; padding:4px 6px; font-family: Arial, Helvetica, sans-serif; font-size: 100%; background-color:#F8F8F8; border:1px solid #c5c5c5; }
	fieldset select { width:584px; }
	fieldset small { display:block; color:#c5c5c5; font-size:75%; }
	fieldset .small { min-height:12px; color:#c5c5c5; font-size:75%; }
fieldset div.required {}
	fieldset div.required label { font-weight:bold; }
fieldset div.no-label, fieldset small { width:280px; margin-left:190px; }
/* fieldset div.activity { margin:30px; } */
fieldset div.text { margin:20px 30px; }

/* Form Buttons */		
form .submit { margin:20px 0 20px 26px; text-align:right; }
form .submit input, button, input.button { padding:6px 10px; text-decoration:none; }
form .submit input.secondary, button.secondary { color:#666; }

/* Form Errors */		
.errors { margin:0 0 10px 0; background:#ffc; border:1px solid #c5c5c5; }
.error_title { margin:0 0 10px 0; padding:6px; background-color:#f1ac02; color:white; font-size:115%; font-weight:bold; }
.errors p { margin:6px }
.errors li a { color:#666; text-decoration:none; }

.errors_field label { color:#f1ac02; }
.errors_field input,
.errors_field select,
.errors_field textarea { background-color:#ffc; }

/* Progress Bar */
.progress_bar { position:relative; height:22px; border:1px solid #999; border-spacing:0; background:url(/images/progressbar_empty.png) left repeat-x; }
	.progress_bar .progress { height:22px; background:url(/images/progressbar_full.png) left repeat-x; border-right:1px solid #aaa; }
	.progress_bar .text { position:absolute; top:3px; right:4px; font-weight:bold; }

/* Data Tables */
.data { border-bottom:1px solid #666; }
.data .row {}
.data .odd {}
.data .even { background-color:#F8F8F8; }
	.data td, .data th { padding:4px 6px; text-align:left; border-bottom:1px solid #ccc; }
	.data th { border-top:1px solid #eee; border-bottom:1px solid #666; background-color:#fcfcfc; }

#notice-wrap { margin-bottom:20px; border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5; background-color:#fefefe; }
#notice { margin:10px 0; font-size:115%; }


table.diff_file {
	margin: 0 0 40px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.diff_file td { padding: 5px; }

table.diff_file tr td.number { 
	width: 50px;
	text-align: right;
	color: #fff;
	border-bottom: 1px solid #ccc;
	background: #aaa;
}

table.diff_file tr td.line { 
	text-align: left;
	border-bottom: 1px solid #ccc;
}

div.page-links { margin: 5px 0; }
	div.page-links a { padding: 0 5px; }
